.approach {
  background-color: #BDDFB9;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  h1 {
    text-align: center;
    margin-top: 20px;
  }

  p { 
    margin: 20px;
    
  }
  p:last-of-type {
    margin-bottom: 15px;
  }
}

.approach-text {
  width: 900px;
}

.next-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  h1 {
    text-align: center;
    margin: 20px;
  }

  p { 
    margin: 20px;
    
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  span {
    font-family: 'Kavivanar', cursive;
    color: #4F7942;
    font-size: 24px;
  }
}

.steps-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  width: 900px;
  p {
    text-align: Center;
  }
  a {
    text-decoration: underline;
  }
}


p.step {
  font-size: 24px;
  // font-family: 'Kavivanar', cursive;
    color: #4F7942;
}

a:visited {
  color: #707070;
}

@media only screen and (max-width: 880px) {
  .approach-text {
    width: 100%;
  }
  .steps-text {
    width: 100%;
  }
}