ul.navbar {
  // position: fixed;
  // top: 0;
  background-color: #DAEDD8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 45px;
  z-index: 9999;
  position: fixed;
  top: 0;
  h1 {
    font-family: 'Kavivanar', cursive;
    margin: 60px;
  }
  i {
    left: 0;
    position: absolute;
    color: #4F7942;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    top: 0;
  }
}

ul.navbar li {
  display: inline;
  padding: 10px;
  margin: 10px;
  color: #4F7942;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

ul.navbar li:hover {
  color: grey;
}

.title {
  font-family: 'Lora', serif;
    font-size: 70px;
    color: #DAEDD8;
    text-shadow: 2px 2px #4F7942;
    margin-top: 90px;
    h1 {
      margin: 80px;
    }
}

h1.title {
  margin-bottom: 60px;
}

// font-family: 'Arima Madurai', cursive;
// font-family: 'Vidaloka', serif;
// font-family: 'Lora', serif;


@media only screen and (max-width: 880px) {
  ul.navbar {
    h1 {
      text-align: center;
    }
    i {
      left: 0;
      position: absolute;
      color: #4F7942;
      font-size: 20px;
      margin: 15px 0 0 20px;

    }
  }
  h1.title {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  ul.navbar {
    i {
      display: none;
    }
    li {
      padding: 5px;
      margin: 5px;
    }
  }

}


