@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Lora&family=Vidaloka&display=swap');
@import '~bulma/bulma.sass';

@import '_nav.scss';
@import '_about.scss';
@import '_coaching.scss';
@import '_insta.scss';
@import '_contact.scss';


// font-family: 'Arima Madurai', cursive;
// font-family: 'Vidaloka', serif;
// font-family: 'Lora', serif;

// Main Colours
// Palette 1
// #CE84AD
// #CE96A6
// #D1A7A0
// #9AB87A
// #305252


// Palette 2
// #EA526F
// #E76B74
// #585B56
// #B8CDA2
// #2E382E


.errorMessage {
  color: red;
  font-size: 14px;
}
// Palette 2

// Main Styling

body, html {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  // scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFEF9;
  p {
    color: #707070;
    font-family: 'Montserrat', sans-serif;
  }
  h1 {
    color: #707070;
    font-size: 40px;
    font-family: 'Kavivanar', cursive;
    color: #DAEDD8;
    text-shadow: 2px 2px #4F7942;
  }
}

// body {
//   background-color: #9AB87A;
// }

.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 0 10px 10px;
  height: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.sections-layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.footer-bit {
  text-align: center;
  background-color: #DAEDD8;
  width: 100%;
  height: 100%;
  bottom: 0;
  p {
    color: #4F7942;
  }
  p:last-of-type {
    margin-bottom: 20px;
  }
  // position: absolute;
  // margin-top: 60px;

  // padding: 5px;


  // justify-content: center;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  i {
    margin-top: 30px;
    color: #4F7942;
  }
}

.home-intro {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #BDDFB9;
  justify-content: center;
  img {
    border-radius: 100%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-right: 90px;
  }
  p {
    margin: 10px;
    text-align: center;
  }
}

.intro-text {
  width: 300px;
  height: 300px;
  background-color: #DAEDD8;
  display: flex;
  align-items: center;
  // border: #4F7942 solid 1px;
  p {
    font-size: 18px;
    padding: 20px;
  }
}

.testimonial {
  font-style: italic;
  // margin: 70px 20px 70px 20px;
  margin: 70px 30px 20px 30px;
  text-align: center;
  width: 1000px;
}

p.testimonial-name {
  font-style: normal;
  text-align: center;
  margin-bottom: 60px;
}

.contact-button {
  p {
    font-size: 18px;
    padding: 15px;
    width: 150px;
    background-color: #DAEDD8;
    text-align: center;
    color: #4F7942;
  }
  p:hover {
    cursor: pointer;
    background-color: #FFFEF9;
  }
}

i {
  color: grey;
  font-size: 30px;
  margin: 10px;
}

@media only screen and (max-width: 880px) {

  body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    color: grey;
  }

  .home-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #BDDFB9;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 100%;
      // height: 200px;
      // width: 200px;
      object-fit: cover;
      margin: 0;
      margin-bottom: 20px;
    }
    p {
      margin: 10px;
      text-align: center;
    }
  }
  
  .intro-text {
    margin-left: 0;
    // width: 250px;
    // height: 250px;
    background-color: #DAEDD8;
    display: flex;
    align-items: center;
    // border: #4F7942 solid 1px;
    p {
      // font-size: 16px;
      padding: 20px;
    }
  }

  .testimonial {
    width: 100%;
  }

  p.testimonial {
    padding: 2px;
  }


  p.testimonial-name {
    margin-bottom: 40px;
  }

}
